.page-title {
  color: #656565;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
  //text-decoration: underline;
  margin-left: .5rem;
}

.k-icon {
  color: #656565;
  font-size: 2rem;
}
