$k-drawer-wrapper: 250px;

.custom-toolbar {
  width: 100%;
  background-color: #f6f6f6;
  line-height: 10px;
  border-bottom: 1px solid #00000014;
  border-bottom-width: 1px;
  //padding: 3px 8px;
  color: #656565;
  height: 40px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10000;

  button {
    height: 40px;
    width: 50px;
    border: none;
    border-right: 1px solid #00000014;
    border-radius: 0;

    span {
      font-size: 20px;
    }
  }

  /*button.k-state-focused {
    border-top-color: transparent;
    border-top-width: 0;
    border-bottom-color: transparent;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-left-width: 0;
    border-right-color: transparent;
    border-right-width: 0;
    outline-color: transparent;
  }*/
}

kendo-drawer-container {
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 40px) !important;
  margin-top: 40px;

  /*kendo-drawer {
    .k-drawer-wrapper {
      ul.k-drawer-items {
        height: calc(100vh - 130px);
      }
    }
  }*/

  /*kendo-drawer {
    flex-basis: $k-drawer-wrapper !important;;

    .k-drawer-wrapper {
      width: $k-drawer-wrapper !important;
    }
  }*/

  kendo-drawer-content {
    min-height: calc(100vh - 40px);

    section.content {
      min-height: calc(100vh - 81px);
    }
  }

}
