<section class="custom-toolbar">
  <button
    kendoButton
    icon="layout"
    look="outline"
    (click)="drawer.toggle()">
  </button>
  <div class="mr-auto"></div>
  <div class="pt-1 pb-1 pr-3">
    <label class="mr-2">{{ 'LANGUAGES.TITLE' | translate }}</label>
    <kendo-dropdownlist [data]="languages"
                        textField="title"
                        valueField="id"
                        [valuePrimitive]="true"
                        (valueChange)="changeLocale()"
                        [(ngModel)]="selectedLanguage" class="w-auto">
      <ng-template kendoDropDownListValueTemplate let-dataItem>
        {{ dataItem?.title | translate }}
      </ng-template>
      <ng-template kendoDropDownListItemTemplate let-dataItem>
        {{ dataItem?.title | translate }}
      </ng-template>
    </kendo-dropdownlist>
  </div>
</section>
<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [items]="items"
    mode="push"
    [mini]="true"
    [autoCollapse]="true"
    [(expanded)]="expanded"
    (select)="onSelect($event)">
    <ng-template kendoDrawerHeaderTemplate>
      <div *ngIf="expanded" style="text-align: center; border-bottom: 1px solid #00000014">
        <label style="font-size: 1.25rem">{{ 'ADMIN.PANEL' | translate }}</label>
      </div>
    </ng-template>
    <ng-template kendoDrawerItemTemplate let-item>
      <div class="k-drawer-link" [routerLink]="item['path']">
        <i class="{{ item['icon'] }}"></i>
<!--        <span class="k-icon item-icon">-->
<!--          <fa-icon icon="{{ item['icon'] }}"></fa-icon>-->
<!--        </span>-->

        <div class="item-descr-wrap" *ngIf="expanded">{{ item['text'] | translate }}</div>
      </div>
    </ng-template>
    <ng-template kendoDrawerFooterTemplate>
      <div style="text-align: center;">
        <button class="k-button" (click)="drawer.toggle()">Collapse</button>
      </div>
    </ng-template>
  </kendo-drawer>
  <kendo-drawer-content>
    <app-breadcrumbs></app-breadcrumbs>
    <section class="content p-3">
      <router-outlet></router-outlet>
    </section>
  </kendo-drawer-content>
</kendo-drawer-container>
